static/js/vendor/chart.umd-4.4.7.js -text
static/js/vendor/mermaid-11.4.1.min.js -text
static/js/vendor/d3-7.9.0.min.js -text
static/js/vendor/qr-code-styling-1.9.2.js -text
static/js/vendor/jszip-3.10.1.min.js -text
static/js/vendor/jsqr-1.4.0.js -text
static/js/vendor/html2canvas-1.4.1.min.js -text
static/js/vendor/heic2any-0.0.4.min.js -text
